/*
  Site container
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  text-decoration: underline;
}

.container > .site-header ~ * a {
  text-decoration: none;
}

.content-wrapper {
  padding-top: 0;
  margin: 0;
  display: block;
  width: 100%;
  min-height: calc(100vh - $header-thickness);
}

/* Override for inner page content that needs the container padding */
.page-content-wrapper {
  padding-top: $header-thickness;
}
